.profile__about {
   margin: 0;
   font-size: 18px;
   line-height: 22px;
   font-weight: normal;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   max-width: 280px;
}

 @media screen and (max-width: 720px) {
   .profile__about {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
   }
} 

@media screen and (max-width: 620px) {
   .profile__about {
      max-width: 220px;
   }
} 
